<!DOCTYPE html>
<html>

<head>

<title>AttractMode Box</title>

<meta charset="UTF-8">

<link rel="stylesheet" type="text/css" href="../plugins/slick-1.9.0/slick.css">
<link rel="stylesheet" type="text/css" href="../plugins/slick-1.9.0/slick-theme.css">

<style type="text/css">
html,
body {
    background-image: url("/layouts/cinema/backgrounds/bg8.jpg");
    margin: 0px;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-image 1s ease-in-out;
}

@font-face {
    font-family: BebasNeueBold;
    src: url("/layouts/refried/BebasNeueBold.otf") format("opentype");
}

* {
    box-sizing: border-box;
    font-family: BebasNeueBold, Verdana, Geneva, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
    color: white;
}

.slider {
    width: 70%;
    margin: 0px auto;
}

.slick-slide {
    margin: 20px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: white;
}

.slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
}

.slick-active {
    opacity: .3;
}

.slick-current {
    opacity: 1;
    transform: scale(1.2);
}

.abs-container {
  position:absolute;
  width:1500px;
  top:635px;
  left:0px;
  margin:0px 0px 0px 0px;
}


#categories-total {
    position: fixed;
    top:595px;
    left:20px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

/* */

input, textarea {
	background-color: transparent;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	border: 0px;
	/*border-bottom: 2px solid red;*/
}


#right-panel {
	width: 400px;
    height:100%;
	position: absolute;
    left:1130px;
    top:0px;
	background-color: rgba(0, 0, 0, 0.5);
    /*border: 1px solid yellow;*/
    font-family: BebasNeueBold, Verdana, Geneva, sans-serif;
	font-size: 50px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
    color: white;
    text-align: center;
}

#list {
	width: 400px;
	position: absolute;
    left:1130px;
    top:100px;
    height:calc(100% - 160px);
	background-color: rgba(0, 0, 0, 0.5);
    /*border: 1px solid red;*/
}

#select-system {
	padding: 20px;
	background-color: transparent;
	border: 0px;
	overflow-y: hidden;
	color: white;
	width: 100%;
    height:100%;
}

#select-system option{
   height: 30px;
   padding-top:2px;
   text-overflow:ellipsis;
   overflow:hidden; 
}

#select-system:focus {
	outline: none;
}

/** */
#game-panel {
    width:400px;
	position: absolute;
    left:1130px;
    top:350px;
    height:calc(100% - 620px);
	background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid blue;
}

#system-panel {
    width:400px;
	position: absolute;
    left:1130px;
    top:600px;
    height:calc(100% - 600px);
	background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid blue;
}

#right-panel-games {
	width: 400px;
    height:100%;
	position: absolute;
    left:1130px;
    top:0px;
	background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid yellow;
    font-family: BebasNeueBold, Verdana, Geneva, sans-serif;
	font-size: 50px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
    color: white;
    text-align: center;
}

#list-games {
	width: 400px;
	position: absolute;
    left:1130px;
    top:70px;
    height:calc(100% - 600px);
	background-color: rgba(0, 0, 0, 0.5);
    /*border: 1px solid red;*/
}

#games {
	padding: 20px;
	background-color: transparent;
	border: 0px;
	overflow-y: hidden;
	color: white;
	width: 100%;
    height:100%;
}

#games option{
   height: 30px;
   padding-top:2px;
   text-overflow:ellipsis;
   overflow:hidden; 
}

#games:focus {
	outline: none;
}


</style>
</head>
<body>

<div id="categories">
   
    <div id="categories-total"></div>
   
    <div class='abs-container'>
        <div class="center slider">
            <% for (var i = 0; i < categories.length; i++) { %>
            <div>
                <img onclick="selectCategory(this)" id="<%=categories[i]%>" src="../layouts/cinema/logos/<%=categories[i]%>.png">
            </div>
            <%}%>
        </div>
    </div>

</div>

<div id="systems" style="display: none">
    
    <div id="frame">
        <img id="frame-img" width="1450"/>
    </div>
    
    <div id="right-panel">SYSTEM</div>
        
    <div id="list">
        <select id="select-system" size="13" onchange="changeSystem()">
        </select>
    </div>

</div>    


<div id="game" style="display: none">
    
    <div id="frame-games">
        <img id="frame-games-img" width="1450"/>
    </div>
            
    <div id="right-panel-games">GAMES</div>
    <div id="game-panel">GAME INFO</div>
    <div id="system-panel">SYSTEM INFO</div>
            
    <div id="list-games">
        <select id="games" size="13" onchange="changeGame()"></select>
    </div>
           

</div>

<script src="../plugins/jquery-2.2.3/jquery-2.2.3.min.js" type="text/javascript"></script>
<script src="../plugins/slick-1.9.0/slick.min.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">

// 0 - genre menu, 1 - system menu, 2 - game menu
var state = 0;

function getElementByXpath(path) {
    return document.evaluate(path, document, null, XPathResult.FIRST_ORDERED_NODE_TYPE, null).singleNodeValue;
}  

function selectCategory(image) {
    $.ajax({
        url : "/systems/" + image.id,
        success : function(data) {
            document.getElementById("select-system").innerHTML = "";
            document.body.style.backgroundImage = 'url("/layouts/refried/backgrounds/Atari 2600.jpg")';
            $.each(JSON.parse(data), function(index, element) {
                var x = document.getElementById("select-system");
                var option = document.createElement("option");
                option.value =  Object.keys(element)[0];// + " (" +  element[Object.keys(element)[0]] + ")";
                option.text =  "[" +  element[Object.keys(element)[0]] + "] " + Object.keys(element)[0];
                x.add(option);
            });
            document.getElementById("select-system").selectedIndex = 0;
            changeSystem();
            document.getElementById("categories").style.display = "none";
            document.getElementById("systems").style.display = "block";
            document.getElementById("select-system").focus();
            state = 1;
        }
    });
}

function loadBackgroundImage(url) {
    var img = new Image();
    img.onload = function() {
        document.body.style.backgroundImage = 'url("' + url + '")';
    }
    img.src = url;
    img.onerror = function() {
        document.body.style.backgroundImage='none';
        document.body.style.backgroundColor='black';
    }
    if (img.complete) img.onload();

}

function loadBorderImage(div, url) {
    var img2 = new Image();
    img2.onload = function() {
        document.getElementById(div).style.display = "block";
        document.getElementById(div + "-img").src = url;
    }
    img2.src = url;
    img2.onerror = function() {
        document.getElementById(div).style.display = "none";
    }
    if (img2.complete) img2.onload();

}

function changeSystem() {
    var ele = document.getElementById("select-system");
    var i = document.getElementById("select-system").selectedIndex;
    var system = ele.options[ele.selectedIndex].value;
    var total = document.getElementById("select-system").length;
    document.getElementById("right-panel").innerText = "SYSTEM " + (i+1) + "/" + total;

    // Load background image.
    loadBackgroundImage("/layouts/refried/backgrounds/" + system + ".jpg");

    // Load border image.
    loadBorderImage("frame", "/layouts/refried/borders/" + system + ".png");
}    

function selectSystem(event) {
    if (event.keyCode == 13) {
        console.log("SELECTED!");
        var ele = document.getElementById("select-system");
        var i = document.getElementById("select-system").selectedIndex;
        var system = ele.options[ele.selectedIndex].value;

        $.ajax({
            url : "/games/" + system,
            success : function(data) {
                document.getElementById("games").innerHTML = "";
                $.each(JSON.parse(data), function(index, element) {
                    var x = document.getElementById("games");
                    var option = document.createElement("option");
                    option.value =  element.name;
                    option.text =  element.name;
                    x.add(option);
                });
                document.getElementById("games").selectedIndex = 0;
                document.getElementById("systems").style.display = "none";
                document.getElementById("game").style.display = "block";
                
                // Load background image.
                loadBackgroundImage("/layouts/refried/backgrounds/" + system + ".jpg");
                
                // Load border image.
                loadBorderImage("frame-games", "/layouts/refried/borders/" + system + ".png");
                
                document.getElementById("games").focus();
                state = 2;
            }
        });
    }
}

function changeGame() {

}


document.getElementById("select-system").addEventListener("keypress", selectSystem);


$(document).on('ready', function() {
    
    $('.center').on('init reInit', function(event, slick) {
        var img= getElementByXpath("//div[contains(@class,'slick-current')]/div/div/img");
        document.body.style.backgroundImage = 'url("../images/box/backgrounds/' + img.getAttribute("id") + '.jpg")';
        document.getElementById("categories-total").innerHTML = "CATEGORIES: 1/" + slick.slideCount + "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CURRENT: " + img.getAttribute("id");
    });

    $(".center").slick({
        dots: false,
        infinite: true,
        centerMode: true,
        slidesToShow: 5,
        slidesToScroll: 1,
        arrow: true,
    });

    $('.center').on('afterChange', function(event, slick, currentSlide){
        var img= getElementByXpath("//div[contains(@class,'slick-current')]/div/div/img");
        //document.body.style.backgroundImage = 'url("../images/box/backgrounds/' + img.getAttribute("id") + '.jpg")';
        document.getElementById("categories-total").innerHTML = "CATEGORIES: " + (currentSlide + 1) + "/" + slick.slideCount + "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CURRENT: " + img.getAttribute("id");
    });      

    var currentSlide = $('.center').slick('slickCurrentSlide');

});

window.onkeyup = function (event) {
    if (event.keyCode == 27) {
        if(state == 1) {
            document.getElementById("categories").style.display = "block";
            document.getElementById("systems").style.display = "none";

            // Load background image.
            var img = new Image();
            img.onload = function() {
                document.body.style.backgroundImage = 'url("/layouts/cinema/backgrounds/bg8.jpg")';
            }
            img.src = "http://localhost:3002/layouts/cinema/backgrounds/bg8.jpg";
            if (img.complete) img.onload();

            state = 0;
        } else if (state == 2) {
            document.getElementById("game").style.display = "none";
            document.getElementById("systems").style.display = "block";
            document.getElementById("select-system").focus();
            state = 1;
        }
    }
}

</script>

</body>
</html>
